# Ignore build output
bin/
obj/

# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# ASP.NET Core configuration files
appsettings.json
appsettings.Development.json
SixOSDatKhamAppMobile.csproj.user

# Logs
*.log
logs/

# NuGet packages
*.nupkg
packages/

# .NET Core tooling
*.db
*.jfm
.DS_Store
